/*---------------------------------*/
/*        GENERAL STYLE            */
/*---------------------------------*/
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    padding: 1px;
}
#main-gallery {
	text-align: center;
}


/*---------------------------------*/
/*        HEADER STYLE             */
/*---------------------------------*/

#main-header {
  width: 100%;
  height: 120px;
  background-color: #ecf0f1;
}

.search-box {
  text-align: center;
}

.search-box input {
  width: 460px;
  height: 50px;
  margin: 30px auto;
  border: 1px solid #95a5a6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

::-webkit-input-placeholder {
  font-size: 16px;
}

/*---------------------------------*/
/*           GRID STYLE            */
/*---------------------------------*/

ul {
	list-style:none;
	margin: 0 auto;
	padding: 0;
	display: block;
	max-width: 980px;
	text-align: center;
}
ul li {
	display: inline-block;
	padding: 8px;
	background:white;
	margin:10px;
}
ul li img {
	display: block;
}
a {
	text-decoration: none;
}



/*---------------------------------*/
/*           Overlay               */
/*---------------------------------*/
#overlay {
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
#overlay img {
	margin-top: 10%;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}
#overlay p {
	color: white;
	text-align: center;
}
/*---------------------------------*/
/*             arrow               */
/*---------------------------------*/
.arrow-1 {
	position: absolute;
	top: 500px;
	left: 190px;
	font-size: 80px;
	padding: 10px;
}

.arrow-2 {
	position: absolute;
	top: 500px;
	right: 190px;
	font-size: 80px;
	padding: 10px;
}
